body {
  font-family: 'cursive';
}

@media screen and (min-width:1024px) {

  .nav-link:hover,
  .nav-link:active,
  .nav-link.active {
    color: #0aaa01 ;
    border-bottom: 2px solid #0aaa01;
  }
}

.nav-link {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 24px;
  line-height: 20px;
}

.nav-link:hover,
.nav-link:active,
.nav-link.active {
  color: #0aaa01;
}

.card {
  font-family: 'system-ui';
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
  transition: all .5s;
  cursor: pointer;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.46);
}

.card-img-top {
  height: 200px;
}

.card-head {
  color: #101010;
  font-size: 25px;
}

.card-title {
  color: #413f3f;
  font-size: 20px;
}

